*.Mui-focused .MuiOutlinedInput-notchedOutline,
*.Mui-focused .MuiPickersOutlinedInput-notchedOutline {
    outline: none;
    background: transparent !important;
    box-shadow: var(--shadow-xl) !important;
    border: 1px solid var(--color-cyan-300) !important
}

.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-shrink {
    font-weight: 600 !important;
    font-size: var(--text-xl) !important;
    background-color: transparent !important;
    font-family: inherit !important;
    top: -2rem !important;
    left: -14px !important;
    transition: all 0.3s;
    color: white !important;
}

*.Mui-selected {
    color: var(--color-cyan-300) !important
}

.MuiInput-root::before {
    border-bottom: 2px solid rgb(255, 255, 255, 0.2) !important
}

.MuiInput-root::after {
    border-bottom: 2px solid var(--color-cyan-300) !important
}

.css-icon:hover {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

*:disabled {
    color: var(--color-gray-200);
    cursor: not-allowed;
    border-color: var(--color-gray-200);
    box-shadow: none;
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

.css-next:hover span {
    animation: next-1 0.6s ease-in-out infinite alternate;
}

@keyframes next-1 {
    from {
        transform: translateX(0.1em);
    }

    to {
        transform: translateX(-0.1em);
    }
}

@keyframes paw-1 {
    from {
        transform: translateX(-0.1em);
    }

    to {
        transform: translateX(0.1em);
    }
}

.backdrop-blur-sm {
    --tw-backdrop-blur: none !important;
}

.scroll-x {
    scroll-behavior: smooth;
}

/* custom scrollbar */
.scroll-x::-webkit-scrollbar {
    height: 7px;
    /* chiều cao thanh trượt ngang */
}

.scroll-x::-webkit-scrollbar-track {
    background: rgb(255, 255, 255, 0.1);
    /* màu nền track */
    border-radius: 3px;
}

.scroll-x::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    /* màu nút kéo */
    border-radius: 3px;
}

.scroll-x::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.7);
    /* hover đậm hơn */
}

.table-body-row-mucluc:nth-of-type(even) {
    background-color: var(--color-orange-100) !important;
}

.div-upload-file:hover svg {
    animation: uploading 0.8s infinite ease-in-out;

}

@keyframes uploading {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }
}

.scroll-y {
    scroll-behavior: smooth;
}

/* custom scrollbar */
.scroll-y::-webkit-scrollbar {
    width: 3px;
}

.scroll-y::-webkit-scrollbar-track {
    border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.5);
    border-radius: 3px;
}

.scroll-y::-webkit-scrollbar-thumb:hover {
    background: var(--color-cyan-300);
}

.scroll-y-all {
    scroll-behavior: smooth;
}

.scroll-y-all::-webkit-scrollbar {
    width: 3px;
}

.react-multiple-carousel__arrow--right {
    right: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow--right:hover {
    animation: next-1 0.6s ease-in-out infinite alternate;
}

.react-multiple-carousel__arrow--left:hover {
    animation: paw-1 0.6s ease-in-out infinite alternate;
}

.react-multiple-carousel__arrow--left {
    left: calc(1% + 1px) !important;
}

.react-multiple-carousel__arrow {
    backdrop-filter: blur(10px) !important;
    -webkit-backdrop-filter: blur(10px) !important;
    z-index: 10 !important;
}

.react-multiple-carousel__arrow::before {
    color: var(--color-cyan-300) !important;
}